.grid-container {
    display: grid;
    grid-template-columns: repeat(14, 1fr); /* Creating 12 equal-width columns */
    grid-template-rows: repeat(7, 0.5fr); /* Creating 12 equal-width columns */
    gap: 10px; /* Adjust the gap between grid items as needed */
    justify-content: center;
    align-content: center;
}

.grid-item {
    padding: 20px;
    border-radius: 5px;
}

.first{
    grid-column: 7 / span 2; /* This element starts at column 5 and spans 2 columns */
    grid-row: 4; /* This element is placed on the 5th row */
}

.one-button {
    grid-column: 6 / span 2; /* This element starts at column 5 and spans 2 columns */
    grid-row: 6; /* This element is placed on the 5th row */
}

.two-button {
    grid-column: 8 / span 2; /* This element starts at column 5 and spans 2 columns */
    grid-row: 6; /* This element is placed on the 5th row */
}
