.grid-container {
    display: grid;
    grid-template-columns: repeat(13, 1fr); /* Creating 12 equal-width columns */
    grid-template-rows: repeat(15, 0.5fr); /* Creating 12 equal-width columns */
    gap: 10px; /* Adjust the gap between grid items as needed */
    justify-content: center;
    align-content: center;
}

.grid-item {
    padding: 20px;
    border-radius: 5px;
}

.first {
    grid-column: 1 / span 8; /* This element starts at the 2nd column and spans 3 columns */
    grid-row: 4; /* This element is placed on the 2nd row */
}

.second {
    grid-column: 6 / span 8; /* This element starts at the 4th column and spans 8 columns */
    grid-row: 6; /* This element is placed on the 3rd row */
}

.third {
    grid-column: 1 / span 6; /* This element starts at the 4th column and spans 8 columns */
    grid-row: 9; /* This element is placed on the 3rd row */
}


.forth {
    grid-column: 4 / span 8; /* This element starts at the 4th column and spans 8 columns */
    grid-row: 12; /* This element is placed on the 3rd row */
}


.next-button {
    grid-column: 7 / span 1; /* This element starts at column 5 and spans 2 columns */
    grid-row: 14; /* This element is placed on the 5th row */
}

@media only screen and (max-width: 480px) {
  
    .grid-container {
        display: grid;
        grid-template-columns: repeat(7, 1fr); /* Creating 12 equal-width columns */
        grid-template-rows: repeat(11, 0.5fr); /* Creating 12 equal-width columns */
        gap: 10px; /* Adjust the gap between grid items as needed */
        justify-content: center;
        align-content: center;
    }

    .first {
        grid-column: 1 / span 6; /* This element starts at the 2nd column and spans 3 columns */
        grid-row: 2; /* This element is placed on the 2nd row */
    }
    
    .second {
        grid-column: 4 / span 6; /* This element starts at the 4th column and spans 8 columns */
        grid-row: 4; /* This element is placed on the 3rd row */
    }
    
    .third {
        grid-column: 1 / span 6; /* This element starts at the 4th column and spans 8 columns */
        grid-row: 6; /* This element is placed on the 3rd row */
    }
    
    
    .forth {
        grid-column: 4 / span 8; /* This element starts at the 4th column and spans 8 columns */
        grid-row: 8; /* This element is placed on the 3rd row */
    }
    
    
    .next-button {
        grid-column: 4 / span 1; /* This element starts at column 5 and spans 2 columns */
        grid-row: 10; /* This element is placed on the 5th row */
    }
    
  }
